In [6]:
%matplotlib inline
import pandas as pd

In [7]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [8]:
sales1 = pd.read_csv('sales1.csv')
sales1

                         Book title  Number sold  Sales price  Royalty paid
0            The Bricklayer’s Bible            8         2.99          0.55
1                          Swimrand            2         1.99          0.35
2  Pining For The Fisheries of Yore           28         2.99          0.55
3                The Duck Goes Here           34         2.99          0.55
4       The Tower Commission Report            4        11.50          4.25

In [72]:
sales2 = pd.read_csv('sales2.csv')
salestwo = sales2.copy().fillna('')
salestwo['currency'] = salestwo.Title.str.extract('\((.*)\)').fillna(method = 'bfill')
salestwo = salestwo[salestwo['List price'] != '']

salesone = sales1.copy()
salesone['currency'] = 'USD'
salesone = salesone.rename(columns = {'Book title': 'title',
    'Number sold': 'number',
    'Sales price': 'their_price',
    'Royalty paid': 'we_got',
    })


salestwo = salestwo.rename(columns = {'Units sold': 'number',
    'Title': 'title',
    'List price': 'their_price',
    'Royalty': 'we_got',})
df = pd.concat([salesone,salestwo])
df['total_paid'] = df.their_price * df.number
df.groupby([df.title.str.lower().str.strip(),'currency']).total_paid.sum()

title                             currency
pining for the fisheries of yore  GBP         140.53
                                  USD         363.72
swimrand                          EUR          15.92
                                  USD           6.97
the bricklayer's bible            GBP          50.83
                                  USD          59.50
the bricklayer’s bible            USD          23.92
the duck goes here                EUR          23.88
                                  USD         203.32
the tower commission report       GBP          26.00
                                  USD          84.00
Name: total_paid, dtype: float64

### Challenge: first combine these sales together into a single dataframe, then compute how much money consumers spent on each book in each currency.

In [5]:
sales2

NameError: name 'sales2' is not defined