In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                             title  year
0                   The Rising Son  1990
1  Justin Bieber: Always Believing  2012
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

212205

### What are the earliest two films listed in the titles dataframe?

In [11]:
t = titles
earliest2 = titles.sort('year').head(2)
earliest2

                                                    title  year
162246                                         Miss Jerry  1894
84285   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [27]:
print len(titles[titles.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [30]:
print len(t[t.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [36]:
hamlets = t[t.title == 'Hamlet']
hamlet = hamlets.sort('year').head(1)
hamlet.year

42704    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [39]:
ti = t[t.title == 'Treasure Island'].sort('year')
ti

                  title  year
188007  Treasure Island  1918
46862   Treasure Island  1920
189509  Treasure Island  1934
88677   Treasure Island  1950
209313  Treasure Island  1972
101912  Treasure Island  1973
187414  Treasure Island  1985
163717  Treasure Island  1999

### How many movies were made in the year 1950?

In [40]:
len(t[t.year == 1950])

1033

### How many movies were made in the year 1960?

In [41]:
len(t[t.year == 1960])

1425

### How many movies were made from 1950 through 1959?

In [43]:
len(t[(t.year>=1950) & (t.year<=1959)])

12015

### In what years has a movie titled "Batman" been released?

In [46]:
batmans = t[t.title == 'Batman']
batmans.year

51211    1989
68286    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [67]:
c = cast
len(c[c.title =='Inception'])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [55]:
inception_roles = c[c.title == 'Inception']
len(inception_roles[inception_roles.n.isnull()])

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [56]:
inception_roles = c[c.title == 'Inception']
len(inception_roles[inception_roles.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [79]:
nbncast = c[(c.title == 'North by Northwest') & (c.n.notnull())]
nbncast.sort('n')

,title,year,name,type,character,n
766298,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3055052,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1281022,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2750084,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
312308,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2659811,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1491210,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1120356,North by Northwest,1959,Martin Landau,actor,Leonard,8
2147631,North by Northwest,1959,Adam Williams,actor,Valerian,9
1592474,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
585168,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2014671,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
407338,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1326997,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
179155,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1217171,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [70]:
s72 = c[(c.title == 'Sleuth') & (c.year == 1972)].sort('n')
s72

,title,year,name,type,character,n
1499893,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
285721,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
327585,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1288250,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2384272,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1273731,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [71]:
s07 = c[(c.title == 'Sleuth') & (c.year == 2007)].sort('n')
s07

          title  year                 name     type          character   n
285722   Sleuth  2007        Michael Caine    actor             Andrew   1
1136690  Sleuth  2007             Jude Law    actor               Milo   2
1587756  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
226486   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
327586   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2384271  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2930598  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [72]:
len(c[(c.title == 'Hamlet')&(c.year ==1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [76]:
len(c[(c.title == 'Hamlet')&(c.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [80]:
len(c[c.character == 'Hamlet'])

81

### How many people have played an "Ophelia"?

In [81]:
len(c[c.character == 'Ophelia'])

96

### How many people have played a role called "The Dude"?

In [82]:
len(c[c.character == 'The Dude'])

16

### How many people have played a role called "The Stranger"?

In [83]:
len(c[c.character == 'The Stranger'])

188

### How many roles has Sidney Poitier played throughout his career?

In [84]:
len(c[c.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [87]:
len(c[c.name == 'Judi Dench'])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [92]:
sr = c[c.name == 'Cary Grant']
sr = sr[sr.year //10 == 194]
sr = sr[sr.n == 2]
sr.sort('year')

                   title  year        name   type    character  n
766295  My Favorite Wife  1940  Cary Grant  actor         Nick  2
766305    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [93]:
lr = c[c.name == 'Cary Grant']
lr = lr[lr.year //10 == 194]
lr = lr[lr.n == 1]
lr.sort('year')

,title,year,name,type,character,n
766320,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
766277,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
766322,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
766310,Suspicion,1941,Cary Grant,actor,Johnnie,1
766324,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
766301,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
766268,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
766293,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
766294,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
766302,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
766260,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
766297,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
766296,Night and Day,1946,Cary Grant,actor,Cole Porter,1
766299,Notorious,1946,Cary Grant,actor,Devlin,1
766316,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
766317,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
766292,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
766272,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
766281,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [94]:
c= cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

147195

### How many roles were avilable for actresses in the 1950s?

In [96]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

53715

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [97]:
c = cast
lr80 = c[c.year <=1980]
lr80 = lr80[lr80.n ==1]
len(lr80)

61236

### How many non-leading roles were available through from the beginning of film history through 1980?

In [98]:
nlr80 = c[c.year <=1980]
nlr80 = nlr80[nlr80.n != 1]
len(nlr80)

1043086

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [100]:
minor = c[c.year<= 1980]
minor = minor[minor.n.isnull()]
len(minor)

412750