In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                             title  year
0                   The Rising Son  1990
1  Justin Bieber: Always Believing  2012
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015

In [5]:
titles

                                          title  year
0                                The Rising Son  1990
1               Justin Bieber: Always Believing  2012
2                       The Thousand Plane Raid  1969
3                              Crucea de piatra  1993
4                                        The 86  2015
5                                    Gaiking II  2011
6                                   Medusa (IV)  2015
7                             A Sweet Education  2015
8                            Alex in Wonderland  1970
9                                Women's Prison  1955
10                       Do Outro Lado do Mundo  2008
11                              Severny variant  1974
12                                Charlie's Ear  1992
13                         Insaaf Main Karoonga  1985
14                                    Hi, Buddy  1943
15                              Los siete locos  1973
16                                   Panic Room  2002
17                        Io sono un autarchico  1976
18                       Shobhna's Seven Nights  2012
19                                   Mahapurush  1965
20                                       Patria  1917
21                               Passenger Side  2009
22                                      Country  2000
23                  Ang pumatay ng dahil sa iyo  1989
24                         Conflict of Interest  1993
25                                The Syndicate  2011
26                 Suzanne, professeur de flirt  1916
27                                 Arrive Alive  1990
28                        Tera Mera Saath Rahen  2001
29      The Majestic Life of Queen Elizabeth II  2013
...                                         ...   ...
212175                   The Second Coming (IV)  2014
212176                             Grand Street  2014
212177                               Dan xin pu  1980
212178                     La zona del silencio  1990
212179                         Der Mann nebenan  1992
212180            The Legend of Kate Kensington  2015
212181                    The Day of the Wolves  1971
212182                        Time of the Comet  2008
212183                                Agreement  1980
212184                      Monsters University  2013
212185                    This Killing Business  2013
212186       Berlina - Eine Reise ins Ungewisse  1991
212187                  Die Herrgottsgrenadiere  1932
212188                  Meglio baciare un cobra  1986
212189                                   Kvaska  2007
212190                             Counterpoint  1967
212191                           Den sidste dag  2004
212192               Take This Job and Shove It  1981
212193                   Le temps de l'aventure  2013
212194                          The Dark Lights  2015
212195                                  Frakchi  2004
212196              Clara no es nombre de mujer  2012
212197                                  Benzina  2001
212198                       Kasaysayan ng lahi  1973
212199                           Hu tu nu si ji  1982
212200                           Le mouton noir  1922
212201                      Edge of the Unknown  2015
212202                                    E yue  2005
212203                             Lakota Girls  2015
212204                             The Sting II  1983

[212205 rows x 2 columns]

In [6]:
len(titles)

212205

In [7]:
titles.head()

                             title  year
0                   The Rising Son  1990
1  Justin Bieber: Always Believing  2012
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015

###this is to just check the different columns present in the data frame before starting a particular problem.

In [8]:
titles.tail()

                      title  year
212200       Le mouton noir  1922
212201  Edge of the Unknown  2015
212202                E yue  2005
212203         Lakota Girls  2015
212204         The Sting II  1983

In [5]:
h = titles.head()
h

                             title  year
0                   The Rising Son  1990
1  Justin Bieber: Always Believing  2012
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015

###this is essentially a dataframe slice. head(10) will give u the top 10 rows. we can assign h = titles.head(10)

In [6]:
t = h['title']
t

0                     The Rising Son
1    Justin Bieber: Always Believing
2            The Thousand Plane Raid
3                   Crucea de piatra
4                             The 86
Name: title, dtype: object

In [9]:
h.year //10 *10

0    1990
1    2010
2    1960
3    1990
4    2010
Name: year, dtype: int64

In [26]:
h[(h.year > 1985) & (h.year <2000)]

              title  year
0    The Rising Son  1990
3  Crucea de piatra  1993

In [44]:
t = titles
macs = t[t.title == 'Macbeth'].sort('year')
low = macs.title.map(lambda x : x.lower())
low

3828      macbeth
62047     macbeth
129635    macbeth
52873     macbeth
15538     macbeth
23404     macbeth
79717     macbeth
121484    macbeth
8435      macbeth
138425    macbeth
10593     macbeth
142072    macbeth
55519     macbeth
Name: title, dtype: object

###to get the lowercase values of the title column, use the map function

In [56]:
t = titles
macs = t[t.title == 'Macbeth'].sort('year')
macs

          title  year
3828    Macbeth  1913
62047   Macbeth  1916
129635  Macbeth  1948
52873   Macbeth  1987
15538   Macbeth  1997
23404   Macbeth  1998
79717   Macbeth  2003
121484  Macbeth  2004
8435    Macbeth  2006
138425  Macbeth  2009
10593   Macbeth  2013
142072  Macbeth  2014
55519   Macbeth  2015